.aboutSection {
		transform: skewY(13deg);
		background-color: $tealcolor;
		@media (max-width: 480px) {
			transform: none;
		}
	.aboutContent {
		position: relative;
		padding: 1rem 0 18rem 0;
		transform: skewY(-13deg);
		@media (max-width: 1024px) {
			padding-bottom: 14rem;
		}
		@media (max-width: 480px) {
			transform: none;
		}
		h2 {
			text-align: center;
		}
	}
}

#left-triangle {
	position: absolute;
	right: 0;
	top: -43rem;
	z-index: -8;
	width: 0;
	height: 0;
	border-right: 966px solid #47d1d1;
	border-top: 434px solid transparent;
	border-bottom: 19px solid transparent;
	@media  (max-width: 1710px) {
		top: -38rem;
		border-right: 878px solid #47d1d1;
		border-top: 394px solid transparent;
	}
	@media (max-width: 1600px) {
		border-right: 831px solid #47d1d1;
	}
	@media (max-width: 1500px) {
		top: -35rem;
		border-top: 383px solid transparent;
	}
	@media (max-width: 1400px) {
		top: -32rem;
		border-top: 380px solid transparent;
	}
	@media(max-width: 1300px) {
		top:-29rem;
		border-top: 372px solid transparent;
	}
	@media(max-width: 1200px) {
		top: -26rem;
		border-top: 360px solid transparent;
	}
	@media (max-width: 1100px) {
		top: -23rem;
		border-top: 347px solid transparent;
	}
	@media(max-width: 1000px) {
		border-top: 382px solid transparent;
	}
	@media (max-width: 900px){
		top: -20rem;
		border-top: 367px solid transparent;
	}
	@media(max-width: 800px) {
		top: -18rem;
	}
	@media (max-width: 700px){
		top: -16rem;
	}
	@media(max-width: 650px){
		top: -14rem;
		border-top: 361px solid transparent;
	}
	@media(max-width: 550px){
		top: -12rem;
	}
	@media (max-width: 480px) {
		display: none;
	}

}

.leftTriangle {
	width: 100%;
}

.about {
	z-index: 999;
	display: flex;
	justify-content: space-around;
	@media (max-width: 780px) {
		flex-direction: column;
		align-items: center;
	}
	// @media (max-width: 480px) {
	// 	margin-left: 2rem;
	// }
	.aboutImage {
		width: 28%;
		@media (max-width: 1024px) {
			width: 40%;
		}
		@media (max-width: 840px) {
			width: 55%;
			padding-top: 2rem;
		}
		@media(max-width: 700px){
			width: 75%;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
	}
	.aboutInfo {
		width: 40%;
		@media(max-width: 780px) {
			width: 80%;
		}
		@media (max-width: 500px) {
			width: 100%;
		}

		p {
			letter-spacing: .1rem;
			font-size: 2rem;
			font-style: italic;
			@media(max-width: 480px) {
			font-size: 1.7rem;
		}
	}
		p span {
			font-family: $signature;
			font-size: 5rem;
			padding: 2rem 0;
			float: right;
			font-style: normal;
			@media(max-width: 480px) {
				font-size: 4rem;
			}
		}
	}
}
