.aboutSection {
		transform: skewY(13deg);
		// background-color: rgba(13,189,183, 0.7);
		background-color: $tealcolor;
		// background: linear-gradient(140deg, rgba(13,189,183,1) 0%, rgba(0,245,237,1) 100%);
	.aboutContent {
		position: relative;
		padding: 1rem 0 6rem 0;
		transform: skewY(-13deg);
		h2 {
			text-align: center;
			font-size: 3rem;
		}
	}
}

#left-triangle {
	position: absolute;
	right: 0;
	top: -38rem;
	z-index: -8;
	width: 0;
	height: 0;
	border-right: 878px solid #47d1d1;
	border-top: 394px solid transparent;
	border-bottom: 19px solid transparent;
}

.about {
	z-index: 999;
	display: flex;
	justify-content: space-around;
	.aboutImage {
		width: 23%;
	}
	.aboutInfo {
		width: 40%;
		p {
			letter-spacing: .1rem;
			line-height: 2.4rem;
			font-size: 1.8rem;
		}
		p span {
			font-family: $signature;
			font-size: 5rem;
			padding: 2rem 0;
			float: right;
		}
	}
}
