.aboutSection {
		transform: skewY(13deg);
		// background-color: rgba(13,189,183, 0.7);
		background-color: $tealcolor;
		// background: linear-gradient(140deg, rgba(13,189,183,1) 0%, rgba(0,245,237,1) 100%);
	.aboutContent {
		position: relative;
		padding: 1rem 0 6rem 0;
		transform: skewY(-13deg);
		h2 {
			text-align: center;
		}
		p {
			font-size: 1.6rem;
		}
	}
}

#left-triangle {
	position: absolute;
	right: 0;
	top: -38rem;
	z-index: -8;
	width: 0;
	height: 0;
	border-right: 878px solid #47d1d1;
	border-top: 394px solid transparent;
	border-bottom: 19px solid transparent;
}

.about {
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 22%;
	}
	p {
		width: 50%;
	}
}