.contact {
	position: relative;
	padding: 5rem 0;
	top: -3rem;
	h2 {
		padding: 2rem 0;
		text-transform: none;
		letter-spacing: .2rem;
		@media (max-width: 1012px) {
			text-align: center;
		}
		@media (max-width: 480px) {
			font-size: 2.5rem;
		}
	}
	.contactContainer {
		@media (max-width: 768px) {
			width: 60%;
		}
		@media (max-width: 480px){
			width: 70%;
		}
		.contactIcons {
			display: flex;
			width: 100%;
			justify-content: space-between;
			@media (max-width: 1130px) {
				flex-wrap: wrap;
			}
			@media (max-width: 560px) {
				display: block;
				text-align: center;
			}
			.contactCaption {

				@media (max-width: 1130px) {
					flex: 1 0 50%;
					flex-wrap: wrap;
					text-align: center;
				}

				@media (max-width: 480px) {
					padding: .5rem 0;
				}
				p {
					font-size: 1.8rem;
					font-style: italic;
				}
				.contactLinks {				
					@media(max-width: 1083px) {
						display: flex;
						flex-direction: column;
					}
					@media (max-width: 480px) {
						flex-direction: row;
						justify-content: center;
					}
					i {
						font-size: 4rem;
						color:$tealcolor;
						transition: all 2s;
						@media(max-width: 1367px) {
							font-size: 2rem;
						}
						@media (max-width: 1024px) {
							font-size: 2.2rem;
						}
					}
					a {
						font-size: 2rem;
						padding-left: 1rem;
						color: #000;
						font-weight: bold;
						font-style: normal;
						transition: all .5s;
						position: relative;
						&:hover {
							color: $tealcolor;
						}
						&:after {
							position: absolute;
							height: 2px;
							width: 100%;
							background-color: $tealcolor;
							bottom: -20px;
							left: 0;
							visibility: hidden;
							-webkit-transform: scaleX(0);
							transform: scaleX(0);
							transition: all .5s;
							content: '';
						}
						&:hover:after {
							visibility: visible;
							-webkit-transform: scaleX(1);
							transform: scaleX(1);
						}
					
						@media (max-width: 1367px) {
							padding: 0;
							font-size: 1.6rem;
						}
						@media(max-width: 480px) {
							padding-left: 1rem;
						}
	
					}
				}
			}
		}
	}
}