footer {
	clear: both;
	position: relative;
      p {
         font-family: $font;
         text-transform: uppercase;
         letter-spacing: .2rem;
         padding: 0 0 1rem 2rem;
         position: relative;
         font-size: 1.3rem;
         margin: 0;
         @media (max-width: 1000px) {
            text-align: center;
         }
      }
}

#triangle-bottomleft { 
   width: 0; 
   height: 0; 
   left: 0;
   bottom: 0;
   position: absolute;
   border-bottom: 100px solid $tealcolor; 
   border-right: 800px solid transparent; 
}

#triangle-bottomright { 
   width: 0; 
   height: 0; 
   right: 0;
   bottom: 0;
   position: absolute;
   border-bottom: 100px solid $tealcolor; 
   border-left: 800px solid transparent; 
}