header {
	height: 100vh;
	background-size: cover; 
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
    // background-image: url(images/dreambean.png);
    @media (max-width: 800px) {
        background-position: center;
    }
    h2 {
        font-size: 1.7rem;
        letter-spacing: .7rem;
        color: #000;
        text-align: center;
        margin: 0;
        padding: 2rem;
        font-family: $body;
        @media(max-width: 1097px) {
            line-height: 3rem;
        }
        @media (max-width: 800px) {
            font-size: 1.3rem;
        }
        @media (max-width: 590px) {
            padding: 4rem 0 0 0;
            line-height: 2rem;
            font-size: 1rem;
        } 
        span {
            background-color: $tealcolor;
            color: $offwhite;
            padding: .5rem;
            font-weight: bold;
        }
    }
    .heroInfo {
        display: flex;
        align-items: center;
        justify-content: center;
         @media (max-width: 900px) {
            flex-direction: column;
         }
        .logo {
            z-index: 9999;
            @media (max-width: 650px) {
                top: 2rem;
                left: 1rem;
                width: 12%;
                position: fixed;
                margin: 0;
            }
        }
        .hiddenMenu {
            display: none;
            @media (max-width: 650px) {
                display: block;
                position: fixed;
                z-index: 9999;
                font-size: 2rem;
                margin: 0;
                top: 7rem;
                left: 1rem;
                font-family: $font;
                text-align: center;
                font-weight: bold;
            }
        }
        h1 {
            background: url(images/teal.jpg) repeat ;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 14rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1rem;
            margin: 0;
            font-family: $font;
            padding-left: 2rem;
            @media(max-width: 1170px) {
                font-size: 12rem;
            }
            @media (max-width: 1045px) {
                font-size: 10rem;
            }
            @media (max-width: 800px) {
                font-size: 13rem;
                text-align: center;
                 padding-left: 0;
             }   
             @media(max-width: 530px) {
                font-size: 10rem;
             }
             @media(max-width: 375px) {
                font-size: 8rem;
             }
             @media (max-width: 320px) {
                font-size: 7rem;
             }
          }
      }
}

.content2 {
    width: 100%;
    margin: 0 auto;
    @media(max-width: 590px) {
        width: 80%;
    }
}

.navContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem 0;
	width: 100%;
    z-index: 9998;
    visibility: hidden;
    @media (max-width: 650px ) {
        display: none;
    }
}


.sticky {
    position: fixed;
    display: block;
    visibility: visible;
    width: 12%;
    left: 2rem;
    top: 13rem;
    z-index: 9998;
    border-top: 0;
    // justify-content: flex-start;
    transition: 1.5s;
    @media (max-width: 1300px){
        width: 13%;
    }
    @media (max-width:1200px) {
        width: 15%;
    }
    @media (max-width: 1000px) {
        width: 14%;
    }
    @media (max-width: 900px) {
        width: 17%;
    }
    @media(max-width: 700px) {
        width: 18%;
    }
    @media (max-width: 650px) {
        display: none;
    }
}

.navDown {
	flex-direction: column;
}

.logo2 {
	position: fixed;
    top: 3rem;
    left: 2rem;
    border-top: 0;
}

.navPadding {
	padding: 2rem 0;
}

// .logoMenu {
//     position: fixed;
//     z-index: 300;
// } 

.hamburgerMenu {
    display: block;
    width: 100%;
    background-color: $tealcolor;
    position: fixed;
    left: 0;
    top: 0;
}