ul.menu {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	z-index: 999;
	@media (max-width: 590px) {
		flex-wrap: wrap;
	} 
	li {
		display: inline;
		margin-right: 10px;
		a {
			padding: 10px;
			color: #000;
			text-shadow: 1px 1px 1px grey;
			font-size: 2rem;
			text-transform: uppercase;
			font-family: $font;
			letter-spacing: .2rem;
			@media (max-width: 1024px) {
				font-size: 1.8rem;
			}
		}
	}
}

.hamMenu {
	text-align: center;
}