ul.menu {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	li {
		display: inline;
		margin-right: 10px;
		a {
			padding: 10px;
			color: #000;
			font-size: 2rem;
			text-transform: uppercase;
			font-family: $font;
			letter-spacing: .2rem;
		}
	}
}