.portfolioSection {
	transform: skewY(-13deg);
	background: linear-gradient(140deg, rgba(13,189,183,1) 0%, rgba(0,245,237,1) 100%);
	position: relative;
	.portfolioContent {
		transform: skewY(13deg);
		display: flex;
		flex-direction: column;
		padding: 12rem 0;
		h2 {
			text-align: center;
		}
		.portfolioDescription {
			display: flex;
			padding: 4rem 0;
			justify-content: space-around;
			@media (max-width: 768px) {
				flex-direction: column;
				align-items: center;
			}
			.portImage{
				width: 40%;
				@media (max-width: 768px) {
					width: 80%;
				}
				@media(max-width: 480px){
					width: 100%;
				}
			}
			.portfolioInfo {
				width: 50%;
				display: flex;
				flex-direction: column;
				@media (max-width: 768px) {
					width: 80%;
				}
				@media (max-width: 480px) {
					width: 100%;
					padding-top: 4rem;
				}
				h3 {
					font-size: 2.8rem;
					margin: 0;
					@media (max-width: 1024px) {
						font-size: 2rem;
					}
					@media(max-width: 480px) {
						font-size: 1.8rem;
						text-align: center;
					}
				}
				p {
					font-size: 1.8rem;
					// font-style: italic;
					@media(max-width: 480px) {
						font-size: 1.5rem;
					}
					span {
						color: #fff;
						font-style: italic;
					}
				}
				.button {
					padding-top: 2rem;
					@media (max-width: 480px) {
						margin: 0 auto;
					}
					a {
						font-size: 2.5rem;
						color: $tealcolor;
						font-family: $font;
						button {
							border-style: none;
							padding: 1.5rem;
							background-color: $offwhite;
							font-family: $font;
							color: $tealcolor;
							transition: all 1s;
							&:hover {
								color: #fff;
								border: 1px solid $offwhite;
								background-color: $tealcolor
							}
							@media (max-width: 1024px) {
								font-size: 1.5rem;
							}
					}	}
				}
			}
		}
	}
}


#right-triangle {
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1rem;
    left: 0px;
    border-left: 992px solid $offwhite;
    border-top: 417px solid transparent;
    border-bottom: 7px solid transparent;
    z-index: -14;
    @media(max-width: 1706px) {
    	border-left: 878px solid $offwhite;
   		border-top: 375px solid transparent;
    }
    @media(max-width: 1600px){
    	 border-left: 849px solid $offwhite;
    	 bottom: -2rem;
    }
    @media(max-width: 1500px) {
    	bottom: -5rem;
    }
    @media (max-width: 1400px) {
    	bottom: -7rem;
    }
    @media(max-width: 1300px) {
    	bottom: -9rem;
    }
    @media(max-width: 1200px) {
    	bottom: -12rem;
    }
    @media(max-width: 1100px){
    	bottom: -14rem;
    }
    @media(max-width: 1000px){
    	bottom:-16rem;
    }
    @media (max-width: 900px){
    	bottom: -18rem;
    }
    @media (max-width: 800px){
    	bottom: -20rem;
    }
    @media(max-width: 700px){
    	bottom:-22rem;
    }
    @media(max-width: 650px) {
    	bottom: -24rem;
    }
    @media(max-width: 550px){
    	bottom: -26rem;
    }
}