.skills {
	padding: 8rem 0;
	h2 {
		font-size: 3rem;
	}
	.skillsContainer {
		display: flex;
		p {
			width: 50%;
		}
		.skillIcons {
			width: 50%;
		.icons {
			width: 50%;
			display: flex;
			align-items: center;
			i {
				font-size: 3rem;
			}
			p {
				font-size: 2rem;
				width: 50%;
				}
			}
		}
	}
}