.skills {
	padding: 4rem 0 8rem 0;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	z-index: -1;
	h2 {
		text-align: center;
		padding: 2rem;

	}
	.skillSection {
		display: flex;
		justify-content: center;
		.skillsContainer {
			width: 100%;
			p {
				font-size: 1.5rem;
				padding-left: 2rem;
				color: $tealcolor;
			}
			.skillIcons {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 6rem 0;
				flex-wrap: wrap;
				@media (max-width: 590px) {
					flex-direction: column;
				}
				.icons {
					display: flex;
					flex-direction: column;
					align-items: center;
					flex-wrap: wrap;
					width: 25%;
					i {
						font-size: 5rem;
					}
					p {
						font-size: 2rem;
						font-style: italic;
						text-align: center;
						padding: 0;
						@media (max-width: 590px) {
							padding: 0;
						}
					}
				}
			}
		}
		
	}
}



#right-triangle {
   width: 0;
   height: 0;
   border-left: 100px solid blue;
   border-top: 50px solid transparent;
   border-bottom: 50px solid transparent;
   @media (max-width: 480px) {
   	display: none;
   }
}

